.right_panel{
    padding-bottom: 20px;
    padding-right: 20px;
}
.right_panel .chat_box{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.right_panel .chat_box .chats_contain{
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
}
.right_panel .chat_box .input_bar_contain{
    height: 50px;
    padding: 10px;
}
.right_panel .chat_box .input_bar_contain .input_bar_box{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
}
.right_panel .chat_box .input_bar_contain .input_bar_box form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.right_panel .chat_box .input_bar_contain .input_bar_box .msg_textbox{
    padding: 5px;
    font-size: 18px;
    outline: none;
    flex: 12;
    outline: none;
    border: none;
    background-color: transparent;
}
.right_panel .chat_box .input_bar_contain .input_bar_box .file_selector_btn{
    color: gray;
    cursor: pointer;
}
.right_panel .chat_box .input_bar_contain .input_bar_box .file_selector_btn:hover{
    color: black;
}
.right_panel .chat_box .input_bar_contain .input_bar_box .msg_submit_btn{
    cursor: pointer;
    height: 32px;
    width: 32px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #623eb6cb;
    color: white;
}
.right_panel .chat_box .input_bar_contain .input_bar_box .msg_submit_btn:disabled{
    background-color: #544b69cb;
}
.right_panel .scrollbar
{
	float: left;
	overflow-y: scroll;
}
.right_panel .loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}