.chats_contain .msg_contain{
    display: flex;
    /* background-color: blueviolet; */
    gap: 10px;
    padding: 0px 10px;
    /* margin: 10px 0px; */
}
.chats_contain .msg_contain .msg{

    /* background-color: #05b3ec; */
    max-width: 350px;
    overflow-wrap: break-word;
}
.chats_contain .msg_contain .msg .sender_name
{
    font-weight: bold;
}
.chats_contain .msg_contain .msg .time{
    /* background-color: blanchedalmond; */
    text-align: right;
    font-size: 12px;
    margin-top: 5px;
    /* color: gray; */
    font-style: italic;
}
.chats_contain .msg_contain .dp_contain{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.chats_contain .msg_contain .dp_contain .chat_msg_dp{
    width: 35px;
}
.left{
    justify-content: flex-start;
}
.left .msg{
    padding: 10px 20px 10px 10px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #06b2ecd7;
}
.right{
    justify-content: flex-end;
}
.right .msg{
    padding: 10px 10px 10px 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    background-color: #cd4dead3;
}