.right_panel .chat_box .chat_header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    text-transform: capitalize;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0 5px 4px -6px darkgrey;
       -moz-box-shadow: 0 5px 4px -6px darkgrey;
            box-shadow: 0 5px 4px -6px darkgrey;
}
.right_panel .chat_box .chat_header .header_left{
    display: flex;
    gap: 20px;
}
.right_panel .chat_box .chat_header .room_options
{
    font-size: 25px;
    cursor: pointer;
    position: relative;
}
.right_panel .chat_box .chat_header .backdrop{
    z-index: 79;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}
.room_menu
{
    position: absolute;
    font-size: 15px;
    right: 25px;
    top: 50px;
    background-color: white;
    z-index: 80;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(238, 238, 238);
}
.del_room_btn
{
    outline: none;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #ff4154;
    color: white;
    cursor: pointer;
}
.popup_option{
    cursor: pointer;
}
.right_panel .chat_box .chat_header .room_avatar{
    height: 30px;
    border-radius: 50%;
}